@media (max-width: 1279px) {
    .logo img{width: 200px;}
}
 
 @media (max-width: 1024px) {
    .hero-h1 { font-size: 60px; }
    .sol-grid-home { grid-template-columns: 1fr 1fr; }
    .about-flex { flex-direction: column; }

    .services-grid, .intro-grid, .process-steps { grid-template-columns: 1fr; }
    .hero-title { font-size: 50px; }

    .strategy-cards, .mix-grid, .sc-grid, .conn-grid, .uni-grid {grid-template-columns: 1fr;}
    .service-case-section {padding: 60px 0;}

    header {padding: 20px 0;}
    .sol-card-home {padding: 30px;}
    .sol-grid-home {margin-top: 25px;}
    .sol-h3 {font-size: 24px;margin-bottom: 10px;}

}
@media (max-width: 768px) {
    .nav-links, .desktop-btn { display: none !important; }
    .hamburger { display: block; }
    .footer-grid { grid-template-columns: 1fr; gap: 40px; }

    .nav-links, .desktop-btn { display: none !important; }
    .hamburger { display: block; }
    .footer-grid { grid-template-columns: 1fr; gap: 40px; }
    .hero-h1 { font-size: 40px; }
    .service-grid { grid-template-columns: 1fr; }
}