@media screen and (max-width: 1599px) {
    .about-hero {padding: 110px 0;}
    .hero-title {font-size: 62px;margin-bottom: 20px;line-height: 1;}
    .featured-title {font-size: 32px;line-height: 1.2;}
    .blog-layout {gap: 40px;}
    h2 {font-size: 38px;line-height: 45px;}
    .blog-hero h1 {font-size: 52px;}
    
}

@media screen and (max-width: 1365px) {
    .container {width: 96%;}
    .sol-card {padding: 30px;}
    .sol-desc {margin-bottom: 20px;}
    h2 {font-size: 36px;}
    .blog-layout .blog-cta {padding: 20px;margin-top: 20px;}
    .blog-hero h1 {font-size: 50px;}
}

@media screen and (max-width: 1279px) {
    .logo img{width: 240px;}
    .hero-section {padding-top: 180px;padding-bottom: 190px;}
    .hero-sub {margin-bottom: 35px;font-size: 20px;}
    .nav-links {gap: 25px;}
    .btn-primary {padding: 12px 25px;}
    .service-grid {grid-template-columns: repeat(2, 1fr);}
    .stat-num {font-size: 50px;}
    .common-padding {padding: 70px 0;}
     .hero-title {font-size: 52px;}
     .hero-desc {font-size: 18px;width: 65%}
     .sol-header {margin-bottom: 15px;}
     .sol-title {font-size: 25px;margin-bottom: 15px;line-height: 35px;}
     .solutions-grid, .stage-grid {gap: 25px;grid-template-columns: repeat(1, 1fr);}
     .layout-grid {gap: 30px;}
     .sidebar-card {padding: 20px 15px;border-radius: 16px;}
     .content-block {margin-bottom: 0;}
     .eco-grid {grid-template-columns: 1fr;gap: 30px;}

     .blog-grid {grid-template-columns: repeat(2, 1fr);}
     .blog-layout {grid-template-columns: 1fr;}
    .blog-hero h1 {font-size: 42px;}
}
 
 @media screen and (max-width: 1023px) {
    .hero-h1 { font-size: 60px; }
    .sol-grid-home { grid-template-columns: 1fr; }
    .about-flex { flex-direction: column; }

    .services-grid, .intro-grid, .process-steps { grid-template-columns: 1fr; }
    .hero-title { font-size: 42px; }

    .strategy-cards, .mix-grid, .sc-grid, .conn-grid, .uni-grid {grid-template-columns: 1fr;}
    .service-case-section {padding: 60px 0;}

    header {padding: 20px 0;}
    .sol-card-home {padding: 30px;}
    .sol-grid-home {margin-top: 25px;gap: 20px;}
    .sol-h3 {font-size: 24px;margin-bottom: 10px;}
    .common-padding {padding: 70px 0;}
    .stats-grid {grid-template-columns: repeat(2, 1fr);}
    .hero-desc {width: 90%;}
    .nav-links {gap: 15px;}
    .container {width: auto;}
    .nav-links a {font-size: 15px;}
    .nav-links a.btn-primary {padding: 9px 15px;}
    .logo img {width: 225px;}
    .about-hero {padding: 60px 0;}
    .conn-grid , .sc-grid {gap: 40px;}
    .uni-form-card {padding: 30px 25px;}
    .layout-grid , .content-section .highlight-box ul , .featured-card {grid-template-columns: 1fr;}
    .featured-content {padding: 40px;}
    .filter-bar {top: 75px;}
    .blog-hero h1 {font-size: 38px;}
     h2 {font-size: 32px;line-height: 40px;}

    
}
@media screen and (max-width: 767px) {
    .nav-links, .desktop-btn { display: none !important; }
    .hamburger { display: block; }
    .footer-grid { grid-template-columns: 1fr; gap: 40px; }
    
    .nav-links, .desktop-btn { display: none !important; }
    .hamburger { display: block; }
    .footer-grid { grid-template-columns: 1fr; gap: 40px; }
    .hero-h1 { font-size: 40px; }
    .service-grid , .uni-form-card .two-col { grid-template-columns: 1fr; }
    .hero-section {padding-top: 140px;}
    .uni-grid {gap: 30px;}
    .uni-form-card {padding: 30px 25px;}
    footer .logo img{margin: 0 auto;text-align: center;width: 240px;}
    footer .social-links div, footer .contact-info li {justify-content: center;}
    footer .main-footer {text-align: center;}
    .stat-num {font-size: 42px;}

    .hero-title {font-size: 36px;margin-bottom: 15px;}
    h2 {font-size: 36px;line-height: 43px;}
    .container {width: 98%;}
    .mobile-links li {margin-bottom: 10px;}
    .mobile-links a {font-size: 26px;}
    .ecosystem-box {padding: 25px;}

    .blog-grid {grid-template-columns: repeat(1, 1fr);}
    .featured-img {min-height: 340px;}
    .filter-bar {top: 60px;padding: 30px 0;}
    .interlink-box {flex-direction: column;text-align: center;gap: 15px ;}
    .blog-layout {padding-top: 40px;padding-bottom: 40px;}
}

@media screen and (max-width: 639px) {
    .hero-section {padding-top: 100px;padding-bottom: 175px;}
    .hero-sub {font-size: 18px;}
    h2 {font-size: 32px;line-height: 40px;}
    .stats-grid , .tech-list {grid-template-columns: repeat(1, 1fr);}
    .hero-desc {width: auto;font-size: 16px;}
    .quote-box {padding: 15px;}
    .conn-grid {gap: 30px;}
    .hero-title {font-size: 34px;}
    .cat-title {font-size: 30px;gap: 10px;}
    .cat-header {margin-bottom: 30px;}
    .service-card {padding: 25px;}
    .cat-title i {font-size: 22px;}
    .s-head {flex-direction: column;gap: 15px;}
    .s-tag {order: -1;}
    .stage-card {padding: 20px;}
    .framework-card {padding: 15px;}
    .content-block h3 {font-size: 20px;margin-bottom: 5px;line-height: 30px;}
    .f-step {font-size: 28px;order: -1;}
    .f-header {flex-direction: column;gap: 15px;margin-bottom: 10px;align-items: start;}
    .sc-title {font-size: 30px;}
    .strat-card {padding: 30px;}
    .mix-list {grid-template-columns: 1fr;gap: 10px;}
    .pain-list li {align-items: start;gap: 6px;flex-direction: column;}
    .pain-list li:not(:last-child){margin-bottom: 20px;}
    .sc-metric-item h4 {font-size: 24px;}
    .sc-metrics {gap: 30px;}
    .featured-content {padding: 25px;}
    .featured-img {min-height: 240px;}
    .featured-title {font-size: 26px;}
    .featured-desc {margin-bottom: 15px;}
    .blog-hero {padding-top: 50px;padding-bottom: 50px;}
    .filter-bar {padding: 25px 0;padding-bottom: 15px;}
    .blog-hero h1 {font-size: 30px;}
    .blog-layout h3 {font-size: 22px;}
}

@media screen and (max-width: 479px) {
  .common-padding {padding: 50px 0;}
  .container {width: 99%;}
  .featured-title {font-size: 20px;}
  .featured-content {padding: 20px;}
  .featured-img {min-height: 175px;}
}